.aboutme{
    color: white;
    margin-left: 5%;
}
.aboutme h1{
    color: orange;
}
.aboutme1{
    color: white;
    margin-left: 5%;
}
.services{
    color: white;
    margin-left: 5%;
}
.services h1{
    color: orange;
}
.portfolio{
    color: white;
    margin-left: 5%;
}
.portfolio h1{
    color: orange;
}
.contact{
    color: white;
    margin-left: 5%;
}
.contact h1{
    color: orange;   
}
footer{
    color: white;
    padding: auto;
    margin-left: 40%;  
}

   

